<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="ACTIVE_PROFILE" source="spring.profiles.active"/>
    <springProperty scope="context" name="APP_VERSION" source="spring.application.version"/>


    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:5000</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"gg.nya.tgirlclicker",
                            "version":"${APP_VERSION}",
                            "environment": "${ACTIVE_PROFILE}"}</customFields>
        </encoder>
    </appender>

    <!-- Console appender for local development -->
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Keep startup logs in the console -->
    <logger name="gg.nya.tgirlclicker.TgirlclickerApplication" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Send other application logs to Logstash -->
    <logger name="gg.nya.tgirlclicker" level="DEBUG" additivity="false">
        <appender-ref ref="logstash"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
