<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property resource="application.properties"/>

    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstash.destination}</destination>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"application":"gg.nya.tgirlclicker",
                            "version":"${application.version}",
                            "environment": "${spring.profiles.active}"}</customFields>
        </encoder>

        <ssl>
            <trustStore>
                <location>classpath:certificates/truststore.jks</location>
                <password>changeit</password>
            </trustStore>
        </ssl>
    </appender>

    <!-- Console appender for local development -->
    <logger name="org.springframework" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Keep startup logs in the console -->
    <logger name="gg.nya.tgirlclicker.TgirlclickerApplication" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Send other application logs to Logstash -->
    <logger name="gg.nya.tgirlclicker" level="DEBUG" additivity="false">
        <appender-ref ref="logstash"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
