.container.container-rough {
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.8);
    border: 3px solid rgba(245, 169, 184, 0.6);
}

.qna {
    align-items: start;
    color: #da4d6a;
    display: flex;
    flex-direction: column;
    font-family: "Readex Pro", sans-serif;
    margin-block: 1em;
    text-align: left;
}

.qna a {
    color: #bd3f58;
}