@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Readex+Pro&display=swap');

body {
    align-items: center;
    background: linear-gradient(#5BCEFA 0 19%, #F5A9B8 21% 39%, #ffffff 41% 59%, #F5A9B8 61% 79%, #5BCEFA 81% 100%);
    display: flex;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.container {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    max-width: 400px;
    padding: 40px;
    text-align: center;
    width: 90%;
}

.heading-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
    margin-bottom: 20px;
}

.heading-container h1 {
    display: inline-block;
    margin: 0;
    position: relative;
}

h1 {
    color: #F5A9B8;
    font-family: "Pacifico", cursive;
    font-size: 2.5em;
    text-shadow: 0 0 8px white, 2px 2px 4px white, -2px -2px 4px white, 2px -2px 4px white, -2px 2px 4px white;
}

.special {
    color: #F5A9B8;
    font-family: "Pacifico", cursive;
    text-shadow: 0 0 4px white, 1px 1px 2px white;
}

p {
    color: #B75E6F;
    font-size: 1.2em;
    font-weight: 500;
    margin-top: 10px;
    text-shadow: 0 0 4px white, 1px 1px 2px white;
}

.icon-about {
    color: #F5A9B8;
    height: 2em;
    transition: 0.2s ease-in-out;
    width: 2em;
}

.icon-about:hover {
    height: 2.5em;
    width: 2.5em;
}

.sb {
    background-color: #FFF0;
    border: none;
    box-sizing: unset;
    cursor: text;
    height: 5px;
    position: absolute;
    width: 1px;
}

.sb1 {
    left: 64px;
    top: 23px;
}

.sb2 {
    left: 109px;
    top: 44px;
}

.sb3 {
    left: 351px;
    top: 90px;
}


input {
    border: 3px solid #F5A9B8;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 20px;
    outline: none;
    padding: 15px;
    width: 100%;
}

input:focus {
    box-shadow: 0 0 20px rgba(245, 169, 184, 0.8);
}

.button {
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(245, 169, 184, 0.6);
    border-radius: 10px;
    color: #F5A9B8;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0.5em;
    padding: 15px 30px;
    transition: transform 0.2s;
    width: 100%;
}

.button:hover {
    transform: scale(1.05);
}
