<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>
<div class="container container-rough">
    <h1>
        <button class="sb sb3" th:UUID="${UUID3}" th:onclick="|postUUID(this.getAttribute('UUID'))|"></button>
        About TGirl.click
    </h1>
    <div class="qna">
        <strong>What is Tgirl.click?</strong>
        TGirl.click is a link shortener / redirect service that makes it more (or less) likely that your friends will click on your links.
    </div>
    <div class="qna">
        <strong>How can I create vanity links?</strong>
        <div>
            Vanity links with specific names are not a publicly accessible feature at this time. If you really want one, shoot me a message at
            <a href="mailto:vanilla@nya.gg">vanilla@nya.gg</a>.
        </div>
    </div>
    <div class="qna">
        <strong>What is the retention policy of links?</strong>
        At this time, links are stored indefinitely. But like please don't spam it or post illegal stuff.
    </div>

    <button class="button" onclick="window.location.href='/'">
        Back to Home
    </button>
</div>
<script>
    function postUUID(uuid) {
        fetch('/auth', {
            method: 'POST',
            headers: {
                'Content-Type': 'text/plain'
            },
            body: uuid
        }).then(() => {
            window.location.reload();
        });
    }
</script>
</body>
</html>
