<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head('index.css')}"></head>
<body>
    <div class="container">
        <div class="heading-container">
            <h1>
                <button class="sb sb1" th:UUID="${UUID1}" th:onclick="|postUUID(this.getAttribute('UUID'))|"></button>
                <button class="sb sb2" th:UUID="${UUID2}" th:onclick="|postUUID(this.getAttribute('UUID'))|"></button>
                TGirl.click
            </h1>
            <a href="/about">
                <img src="/images/info.svg" alt="about" class="icon-about">
            </a>
        </div>
        <p>Successfully served <span th:text="${totalClickCount}">0</span> pages!</p>

        <form action="/links" method="post">
            <input aria-label="link" type="url" name="link" placeholder="Enter your link here..." required>
            <input aria-label="alternativeMode" th:if="${userSecretMode}" type="text" name="alternativeMode" th:value="${UUID4}" hidden>
            <br>
            <button class="button" type="submit">Shorten Link</button>
            <div th:if="${userSecretMode}">
                <button class="button" type="submit"><span class="special">Special</span> Shorten Link</button>
            </div>
        </form>
    </div>
    <div th:if="${createdLink != null || errorMessage != null}" class="response">
        <div class="link-created" th:if="${createdLink != null}">
            <div>Your link has been successfully created.</div>
            <div class="link-container" onclick="copyToClipboard(this.querySelector('.link').textContent)">
                <span class="link" th:text="${createdLink}"></span>
                <img src="/images/copy.svg" alt="copy" class="icon-copy">
            </div>
            <div>(Click to copy)</div>
        </div>
        <div class="error-message" th:if="${errorMessage != null}">
            <div th:text="${errorMessage}"></div>
        </div>
    </div>
    <script>
        function postUUID(uuid) {
            fetch('/auth', {
                method: 'POST',
                headers: {
                    'Content-Type': 'text/plain'
                },
                body: uuid
            }).then(() => {
                window.location.reload();
            });
        }
    </script>
    <script th:if="${userSecretMode}">
        document.addEventListener('DOMContentLoaded', function() {
            const form = document.querySelector('form[action="/links"]');
            const normalButton = form.querySelector('button[type="submit"]:not(.special)');
            const alternativeModeInput = form.querySelector('input[name="alternativeMode"]');
            
            if (normalButton && alternativeModeInput) {
                normalButton.addEventListener('click', function() {
                    alternativeModeInput.value = '';
                });
            }
        });
    </script>
    <script th:if="${createdLink != null}">
        function copyToClipboard(link) {
            navigator.clipboard.writeText(link);
        }
    </script>
</body>
</html>