<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout :: head}"></head>
<body>
<div class="heart"></div>
<div class="heart"></div>
<div class="heart"></div>
<div class="heart"></div>
<div class="heart"></div>
<div class="gg-container">
    <div class="gg">GOOD GIRL</div>
    <div class="gg">GOOD GIRL</div>
    <div class="gg">GOOD GIRL</div>
    <div class="gg">GOOD GIRL</div>
    <div class="gg">GOOD GIRL</div>
</div>
</body>
<meta th:content="'1;url=' + ${link}" http-equiv="refresh">
</html>
