<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
<div class="heart"></div>
<div class="heart"></div>
<div class="heart"></div>
<div class="heart"></div>
<div class="heart"></div>
<div class="gg-container">
    <div class="gg">GOOD GIRL</div>
    <div class="gg">GOOD GIRL</div>
    <div class="gg">GOOD GIRL</div>
    <div class="gg">GOOD GIRL</div>
    <div class="gg">GOOD GIRL</div>
</div>
</body>
<script th:inline="javascript">
    // Redirect to the main page after 1 second
    setTimeout(function() {
        window.location.href = [[${link}]];
    }, 1000);
</script>
</html>
